  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= event.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= event.time%></h6>
    <h6 class="card-subtitle mb-2 text-muted"><%= event.location %></h6>
    <p class="card-text"><%= event.description %></p>
    <p><%= p event.attendees.count %></p>
     <%=link_to "View Details", event_path(event.id), :class => 'card-link' %>
     <% if current_user %>
     <%= form_with model: @attendance_record do |form| %>
        <%= form.hidden_field :attendee_id, value: current_user.id %>
        <%= form.hidden_field :attended_event_id, value: event.id %>
        <%= form.submit "Attend", class: "btn btn-primary" %>
      <% end %>
      
  <%= event.attendees.include?(user_id: current_user.id) %>
     <% end %>
  </div>
</div>